@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif ;
}
html, body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}
body {
    background: url('../imagens/fundo-madeira.jpg')no-repeat top center;
    background-size: cover;/* Para cobrir a tela inteira*/
    background-attachment: fixed;/* Para não  ter rolagem*/

}
main {
    /* O container terá um posicionamento relativo, pois usaremos um conteúdo dentro dele com um posicinamento absoluto*/
    height: 100%;
    position: relative;
}
section#telefone {
    /* Quando fazemos o posicionamento absoluto, conseguimos posicioná-lo no topo, nas laterais...
O  transform: translate(); usamos para ajustar o posicionamento, pois a tela não ficou no meio 
*/
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*Consultamos largura e altura da imagem pelo Gimp.*/ 
    width: 311px;
    height: 627px;
    background: url('../imagens/frame-iphone.png')no-repeat; /*No-repeat para a imagem do iphone não se rtepetir. 
    A principio deixamos assim: background: blue url('../imagens/frame-iphone.png')no-repeat; com essa cor de fundo para facilitar os ajustes de largura e altura, depois retira*/

}
iframe#tela {
    position: relative;
    top: 79px ;
    left: 22px ;
    width: 269px;
    height: 473px;
}
section#redes-socias img {
    width: 50px;
    margin: 10px;
    border-radius: 50%; /*Deixando os logos redondos*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.801);
}
section#redes-socias {
    text-align: right;
}
section#redes-socias img:hover {
    border: 2px solid beige; /*Colocando a bordinha ao passar o  mouse em cima */
    transform: translate(-4px, -4px); /*movimentando a logo p cima */
    transition: transform .3s; /*moovimentando mais lento */
    box-shadow: 5px 5px 10px solid rgba(0, 0, 0, 0.63);
}

